img, video, canvas {
    max-width: 100%;
    height: auto;
}

blockquote {
    font-style: italic;
    border-left: 0;
    margin-top: 2rem;
}

blockquote::before {
    content: "\"";
}

blockquote::after {
    content: "\"";
}

blockquote cite {
    font-style: italic;
    float: right;
    font-size: medium;
}

blockquote cite::before {
    content: "\a— ";
    white-space: pre;
}

header {
    margin-bottom: 1rem;
}

body>nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

body>nav a.waves-effect {
    display: block;
}

.sidenav .user-view .circle {
    border-radius: 0;
    width: auto;
}

.container li:first-child img {
    vertical-align: middle;
    margin-right: .5rem;
}

::-moz-selection {
    background: #E53935;
    color: #fff;
}

::selection {
    background: #E53935;
    color: #fff;
}