img, video, canvas {
    max-width: 100%;
}

blockquote {
    font-style: italic;
    border-left: 0;
}
blockquote::before {
    content: "\"";
}
blockquote::after {
    content: "\"";
}

body > nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

.container li:first-child img {
    vertical-align: middle;
    margin-right: .5rem;
}