#RewriteEngine on  
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

Redirect 301 /anreise.html /index.html
Redirect 301 /aufnahmeantrag.html /index.html
Redirect 301 /datenschutzerklaerung.html /index.html
Redirect 301 /einladung-zur-jhv.html /index.html
Redirect 301 /impressum.html /index.html
Redirect 301 /nicht-gefunden.html /index.html
Redirect 301 /programm.html /index.html
Redirect 301 /satzung.html /index.html
Redirect 301 /vorstandschaft.html /index.html
Redirect 301 /draurach.de /index.html
Redirect 301 /news/ /index.html
Redirect 301 /veranstaltungen/ /index.html
Redirect 301 /category/veranstaltungen/ /index.html
Redirect 301 /wp-content/uploads/2017/06/Aufnahmeantrag.pdf /index.html
Redirect 301 /vorstandschaft/ /index.html
Redirect 301 /satzung/ /index.html
Redirect 301 /impressum/ /index.html
Redirect 301 /datenschutzerklaerung/ /index.html

Header add Content-Security-Policy "default-src 'self' https://tracking.niedermann.it; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://tracking.niedermann.it; frame-src https://tracking.niedermann.it; frame-ancestors 'none'"
Header add Strict-Transport-Security "max-age=63072000; includeSubDomains"
Header add X-Frame-Options "DENY"
Header add X-Content-Type-Options "nosniff"
Header add X-XSS-Protection "1; mode=block"
Header add Referrer-Policy "same-origin, strict-origin-when-cross-origin"